.container {
  text-align: left;
  position: fixed;
  padding: 10px;
  left: 0;
  top: 0;
}

.weather {
  padding-right: 10px;
  font-weight: 300;
}

.temp {
  font-weight: 300;
}

.city {
  padding-right: 10px;
  font-weight: 300;
}
